*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #222;
}
.card{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    width:90%;
    max-width: 470px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.sbar{
    border-radius: 30px;
    border: 2px;
    height: 40px;
    width: 300px;
    margin-left: 40px;
    outline: 0;
    font-weight: bolder;
    font-size: medium;
    padding: 10px;   
}

.find{
    background: transparent;
    font-size: 24px;
    margin-left: 30px;
    cursor: pointer;
    outline: none;
    border: 0;
    position:relative;
    top:5px;
}
.fa-cloud-sun{
    font-size: 100px;
    padding-top: 20px;
    padding-left: 120px;
    color:white;
}
.temp{
    /* padding-left: 150px; */
    padding-top: 20px;
    font-size: xxx-large;
    font-weight: bolder;
    text-align: center;
}
.city{
    padding-left: 90px;
    padding-top: 30px;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    
}
.fa-water{
    font-size: 40px;
    color: white;
}
.wheather h2{
    position: relative; 
    left:60px;
    bottom:30px;
    /* left:50%;
    right: 50%; */
}
.wheather h3{
    position: relative;
    bottom: 20px;
    left:60px;
    /* bottom:30px;
    left:50%;
    right: 50%; */
}
.fa-wind{
    font-size: 40px;
    color: white;
}
.details{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

.fa-cloud-rain{
    font-size: 100px;
    padding-top: 20px;
    padding-left: 120px;
    color:white;
}
.fa-cloud{
    font-size: 100px;
    padding-top: 20px;
    padding-left: 120px;
    color:white;
}
.fa-sun{
    font-size: 100px;
    padding-top: 20px;
    padding-left: 120px;
    color:white;
}
.fa-cloud-sun-rain{
    font-size: 100px;
    padding-top: 20px;
    padding-left: 120px;
    color:white;
}
.fa-clouds-sun{
    font-size: 100px;
    padding-top: 20px;
    padding-left: 120px;
    color:white;
}
.wheather{
    display: none;
}
.error{
    text-align: center;
    display: none;
    padding-top: 30px;
}
.fa-snowflake{
    font-size: 100px;
    padding-top: 20px;
    padding-left: 120px;
    color:white;
}
@media only screen and (max-width:600px){
    .sbar{
        width:170px;
    }
   
  
    .fa-cloud-rain{
        font-size: 100px;
        padding-top: 20px;
        padding-left: 120px;
        color:white;
    }
    .fa-cloud{
        font-size: 70px;
        padding-top: 20px;
        padding-left: 100px;
        color:white;
    }
    .fa-sun{
        font-size: 70px;
        padding-top: 20px;
        padding-left: 100px;
        color:white;
    }
    .fa-cloud-sun-rain{
        font-size: 70px;
        padding-top: 20px;
        padding-left: 100px;
        color:white;
    }
    .fa-clouds-sun{
        font-size: 70px;
        padding-top: 20px;
        padding-left: 100px;
        color:white;
    }
    .city{
        padding-left: 50px;
        padding-top: 30px;
        font-size: xx-large;
        font-weight: bolder;
        color: white;
        
    }
    .fa-snowflake{
        font-size: 70px;
        padding-top: 20px;
        padding-left: 100px;
        color:white;
    }
    .find{
        font-size: 18px;
    }
    .details{
        display: flex;
        text-align: center;
    }
    .fa-water{
        font-size: 30px;
        color: white;
    }
    .fa-wind{
        font-size: 30px;
        color: white;
        
    }
    .wind{
        padding-left: 10px;
        font-size: medium;
    }
    .humidity{
       
        font-size: medium;
    }
    .hm{
        font-size: medium;
    }
    .ws{
        font-size: medium;
    }
}
